<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Demo ReactJS</title>
    <script src="lib/react.js"></script>
    <script src="lib/react-dom.js"></script>
    <script src="lib/babel.min.js"></script>

  <style>
    .mauvang{background-color: yellow}
    .component{
      border:solid 1px grey;
    }
    .div-add{
      border:solid 1px yellow;
    }
    .div-list{
      border:solid 1px gray;
      padding:5px;
      float: left;
    }
    .note-item{
      padding:5px;
      border: dashed 1px green;
    }
  </style>
  </head>
  <body>
    <div id="root"></div>


    <script src="lib/jquery.js"></script>
    <script type="text/babel" src="xuly.js"></script>
  </body>
</html>
